<div class="container margin-top">
  <div class="row">
    <div class="col-12">
      <h1>Issues</h1>
    </div>
    <div class="col-12 margin-bot">
      <h3>Create issue</h3>
    </div>
    <%= render 'form', issue: @issue %>
  </div>
</div>
